
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-controller="UserCtrl">
    <div ng-show="flgUser">
        <section class="content-header">
            <h1>
                Application Users
            </h1>
            <div class="text-right">
                <a href="/Admin/Dashboard/Index"><i class="fa fa-dashboard"></i> Home</a> >
                <a href="/Admin/User/Index"> Application Users List</a>
                <span>{{UserState}}</span>
            </div>

        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">

                    <div ng-show="flgMessage" id="message" class="alert alert-dismissible">
                        <button type="button" class="close" ng-click="hideMessage()" aria-hidden="true">&times;</button>
                        <h4><i id="icon" class="icon fa "></i> Alert!</h4>
                        {{message}}
                    </div>

                    <!-- general form elements -->
                    <div class="box box-primary" ng-show="flgTable && model.Id=='' ">
                        <div class="box-header with-border">
                            <h3 class="box-title">Application User List</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-header">
                            <button type="button" ng-click="addUser()" class="btn btn-primary"><i class="fa fa-plus"></i> Add User</button>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="">
                                <table id="userTable" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <td>UserName</td>
                                            <td>Email</td>
                                            <td>Action</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in lstUsers">
                                            <td>{{item.UserName}}</td>
                                            <td>{{item.Email}}</td>
                                            <td>
                                                <a href="#" class="btn btn-info btn-circle" ng-click="viewUser(item)" title="" data-toggle="tooltip" data-placement="top" data-original-title="View User">
                                                    <i class="glyphicon glyphicon-eye-open"></i>
                                                </a>

                                                <a href="#" class="btn btn-primary btn-circle" ng-click="editUser(item)" title="" data-toggle="tooltip" data-placement="top" data-original-title="Edit User">
                                                    <i class="glyphicon glyphicon-pencil"></i>
                                                </a>
                                                <a href="#" class="btn btn-danger btn-circle" ng-click="deleteUser(item)" title="" data-toggle="tooltip" data-placement="top" data-original-title="Delete User">
                                                    <i class="glyphicon glyphicon-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                        <!-- /.box -->

                    </div>

                    <!-- Custom Tabs -->
                    <div class="nav-tabs-custom" ng-show="!flgTable && model.Id!=''">
                        <div>
                            <ul class="nav nav-tabs">
                                <li id="liTab_1" class="active"><a href="#tab_1" data-toggle="tab">User Details</a></li>


                                <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <br />
                                            <form role="form" name="form1" id="form1" novalidate ng-submit="formSubmit()">
                                                <!-- general form elements -->
                                                <div class="box box-primary">
                                                    <div class="box-header with-border">
                                                        <h3 class="box-title">Create / Edit User</h3>
                                                    </div>
                                                    <!-- /.box-header -->
                                                    <!-- form start -->

                                                    <div class="box-body">
                                                        <div class="row">
                                                            <div class="col-md-6">

                                                                <div class="form-group">
                                                                    <label for="Email">Email</label>
                                                                    <input type="text" class="form-control" ng-model="model.Email" required id="Email" name="Email" placeholder="Email">
                                                                </div>


                                                                <div class="form-group">
                                                                    <label for="UserName">User Name</label>
                                                                    <input type="text" class="form-control" ng-model="model.UserName" required id="UserName" name="User Name" placeholder="User Name">
                                                                </div>

                                                            </div>

                                                            @*<div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>Role</label>
                                                                    <select class="form-control" style="width: 100%;" required ng-model="model.RoleID">
                                                                        <option value="">Select a Role</option>
                                                                        <option ng-repeat="item in lstRoles" value="{{item.RoleID}}">{{item.RoleName}}</option>
                                                                    </select>
                                                                </div>
                                                            </div>*@


                                                        </div>
                                                    </div>
                                                    <!-- /.box-body -->
                                                    <div class="box-footer">
                                                        <button type="submit" ng-disabled="!form1.$valid" ng-click="createUser(model)" class="btn btn-primary">Submit</button>
                                                        <button type="button" ng-click="reset()" class="btn btn-default">Cancel</button>

                                                    </div>

                                                </div>
                                                <!-- /.box -->
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div>
                    </div>
                    <!-- nav-tabs-custom -->
                </div>

                <div ng-show="!flgTable && model.Id==''">
                    <form role="form" name="form" id="form" novalidate ng-submit="formSubmit()">
                        <div class="col-md-8">
                            <!-- general form elements -->
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Create / Edit User</h3>
                                </div>
                                <!-- /.box-header -->
                                <!-- form start -->

                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="Email">Email</label>
                                                <input type="text" class="form-control" ng-model="model.Email" required id="Email" name="Email" placeholder="Email">
                                            </div>


                                        @*<div class="col-md-6">
                                            <div class="form-group">
                                                <label>Role</label>
                                                <select class="form-control" style="width: 100%;" required ng-model="model.RoleID">
                                                    <option value="">Select a Role</option>
                                                    <option ng-repeat="item in lstRoles" value="{{item.RoleID}}">{{item.RoleName}}</option>
                                                </select>
                                            </div>
                                        </div>*@

                                    </div>
                                </div>
                                <!-- /.box-body -->
                                <div class="box-footer">
                                    <button type="submit" ng-disabled="!form.$valid" ng-click="createUser(model)" class="btn btn-primary">Submit</button>
                                    <button type="button" ng-click="reset()" class="btn btn-default">Cancel</button>
                                </div>

                            </div>
                            <!-- /.box -->
                        </div>

                        <div class="col-md-4">
                            <!-- general form elements -->
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Login Details</h3>
                                </div>
                                <!-- /.box-header -->
                                <!-- form start -->
                                <div class="box-body">
                                    <div class="form-group">
                                        <label for="UserName">UserName</label>
                                        <input type="text"  ng-model="model.UserName" required class="form-control" id="UserName" name="UserName" placeholder="User Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Password</label>
                                        <input type="password" ng-model="model.Password" required class="form-control" id="exampleInputPassword1" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword2">Confirm Password</label>
                                        <input type="password" ng-model="model.CPassword" required class="form-control" id="exampleInputPassword2" placeholder="Confirm Password">
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                    </form>
                </div>


                <div class="col-md-12" ng-show="flgUserDetail">
                    <div>
                        <div class="row">
                            <div class="col-md-4">
                                <!-- general form elements -->
                                <div class="box box-primary">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Detail</h3>
                                        <div class="pull-right">

                                        </div>
                                    </div>
                                    <!-- /.box-header -->
                                    <!-- form start -->
                                    <div class="box-body">
                                        <div class="box-body box-profile">

                                            <img ng-if="flgUserDetail" class="profile-user-img img-responsive img-circle" err-src="/FileUpload/UserProfile/User.jpg" style="height:100px;" ng-src="{{model.PhotoPath}}">
                                            <p class="text-muted text-center"></p>
                                            <div class="text-center">

                                                <a ng-show="model.FacebookLink!=''" href="{{model.FacebookLink}}" class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
                                                <a ng-show="model.TwitterLink!=''" href="{{model.TwitterLink}}" class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                                            </div><br />
                                            <ul class="list-group list-group-unbordered">
                                                <li class="list-group-item">
                                                    <b>Email</b> <a class="pull-right">{{model.Email}}</a>
                                                </li>
                                                <li class="list-group-item">
                                                    <b>Skype</b> <a class="pull-right">{{SkypeID}}</a>
                                                </li>
                                                <li class="list-group-item">
                                                    <b>Birth Date</b> <a class="pull-right">{{model.BirthDate|date:'MMM d, yyyy HH:mm:ss'}}</a>
                                                </li>
                                                <li class="list-group-item">
                                                    <b>Address</b> <a class="pull-right">{{model.Address}}</a>
                                                </li>
                                                <li class="list-group-item">
                                                    <b>Last Login</b> <a class="pull-right">{{model.LastLoginDate|date:'MMM d, yyyy HH:mm:ss'}}</a>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                    <!-- /.box-body -->
                                </div>
                                <!-- /.box -->

                            </div>
   
                        </div>
                        <!-- /.tab-content -->
                    </div>
                </div>
            </div>

        </section>
        <!-- /.content -->
    </div>
</div>

<style>
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
        color: #fff;
        cursor: default;
        background-color: #3c8dbc;
        border: 1px solid #ddd;
        border-bottom-color: transparent;
    }
</style>
<!-- /.content-wrapper -->
